* {
    position: relative;
}

.caja{
    position: relative;
    width: 200px;
    height: 200px;  
    margin: 10px 0px; /*centrar*/
    margin-top: 10px;
    background-color: skyblue;
    text-align: center;
}

.relativa_b{
    background-color: skyblue;
    top: px;
    left: 200px;
}

.relativa_n{
    background-color: orange;
    top: px;
    left: 200px;
}

.relativa_left{
    width: 50px;
    height: 50px;
    background-color: skyblue;
    bottom: 80px;
    left: 275px;
}

.contenedor {
    position: absolute;
    width: 400px;
    height: 200px;
    background-color: coral;
}

.absoluta{
    position: absolute;
    background-color: blue;

    height: 80px;
    width: 200px;
    left: 300px;
}

.ayuda{
    background-color: greenyellow;
    color: white;
    position: fixed;
    right: 0;
}

.menu{
    position: sticky;
    top: 0px;
    background-color: black;
    color: white;
    padding: 10px;
    z-index: 1;
}