.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45px;
    height: 45px;
    padding: 5px; 
    margin: 2px;
}
.cont:hover{
    opacity: 0.6;
}

p{
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}
h4{
    margin: 0px;
    padding: 0px;
}

.tabla{
    display: flex;
    flex-direction: row;
}

.col{
    flex-direction: column;
}

.col2{
    display: flex;
    flex-direction: column-reverse;
}

.col3{
    margin-top: 25px;
    position: absolute;
    top: 480px;
    left: 185px;
    display: flex;
    flex-direction: row;
}

.col4{
    margin-top: 25px;
    position: absolute;
    top: 540px;
    left: 185px;
    display: flex;
    flex-direction: row;
}

.nmr{
    background-color: yellowgreen;
}

.ml{
    background-color:crimson;
}

.ma{
    background-color: orange;
    color: white;
}

.mt{
    background-color:skyblue;
}

.l{
    background-color: cornflowerblue;
    color: white
}

.ac{
    background-color:aquamarine ;
}

.mp{
    background-color: darkslateblue;
}

.unk{
    background-color: slategray;
}

.m{
    background-color: yellow;
}

.gn{
    background-color: violet;
}