.grid-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 5px;
    grid-template-areas: 
        "box-1 box-1 box-1 box-1 box-2"
        "box-3 box-4 box-4 box-4 box-2"
        "box-5 box-5 box-6 box-6 box-2";
}

.box1{
    background-color: purple;
    grid-area: box-1;
}

.box2{
    background-color: cornflowerblue;
    grid-area: box-2;
}

.box3{
    background-color: orangered;
    grid-area: box-3;
}

.box4{
    background-color: green;
    grid-area: box-4;
}

.box5{
    background-color: plum;
    grid-area: box-5;
}

.box6{
    background-color: orange;
    grid-area: box-6;
}
